:root {
    scroll-behavior: smooth;
}

.icon li span {
    color: #ffffff;
    margin: 0px 6px;
    text-align: center;
}

.icon li span a {
    text-decoration: none !important;
}

.nav-item {
    padding: 0px 5px;
}

.active {
    color: #f25454 !important;
}

.nav-item a:hover {
    color: #f25454 !important;
}

.nav-item a:hover i {
    color: #f25454 !important;
}

.c-img {
    height: 100%;
    object-fit: cover;
}

/*=============*/
.about-txt h2 {
    font-size: 5rem;
    color: #282828;
    opacity: .09;
}

.about-txt h3 {
    font-size: 3rem;
    position: relative;
}

.about-txt h3::after {
    content: "";
    position: absolute;
    top: 120%;
    right: 30%;
    height: 2px;
    width: 40%;
    background-color: #000;
}

/*=============*/
.pro-bar-1 {
    width: 90%;
    height: 6px;
    border-radius: 5px;
    background-color: #cacaca;
}

.pro-bar-2 {
    height: 5px;
    border-radius: 5px;
    background-color: #f25454;
}

.carousel-caption h1 {
    font-size: 4.5rem;
}

.txt-team {
    width: 65%;
    padding: 5px 30px;
}

/*======================*/
.team-image img {
    width: 100%;
}

.team-image {
    position: relative;
    transition: transform 0.2s;
}

.team-image:hover {
    transform: scale(1.04);
    opacity: 1;
    background-color: #f2545488;
}

.team-social {
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    transition: background-color 0.2s, opacity 0.2s;
}

.team-social:hover {
    top: 0px;
    opacity: 1;
    background-color: #f2545488;
}

.team-social-inner a {
    color: #ffffff;
    text-decoration: none;
    padding: 0px 15px;
}

.team-details {
    margin-top: 5px;
}

/*========================*/
.Services {
    background-color: #eee4e4;
}

.intro-s a {
    text-decoration: none;

    color: #f25454;
}

.txt-services-p {
    width: 83%;
}

.h3-services {
    transition: color 0.5s;
}

.h3-services:hover {
    color: #f25454;
}

/*======================*/
.client h2 {
    font-size: 5rem;
    font-weight: 900;
    color: #ccc7c7;
}

.client h3 {
    font-size: 2rem;
    font-weight: 700;
}

.getInTouch h2 {
    font-size: 5rem;
    font-weight: 900;
    color: #ccc7c7;
}

.getInTouch h3 {
    font-size: 2rem;
    font-weight: 700;
}

.map-icons .icon {
    font-size: 40px;
    color: rgb(227, 84, 84);
}

.map-icons {
    transition: color 1s;
}

.map-icons:hover {
    color: rgb(227, 84, 84);
}

.form-group .form-control {
    background-color: rgb(231, 229, 226);
    border-color: rgb(218, 215, 211);
}

.form-group .form-control:hover {
    border-color: rgb(227, 84, 84);

}

.layer-section {
    background-color: rgb(44, 48, 50);
}

.special-icons-footer {
    color: tomato;
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;

}

@media screen and (max-width : 800px) {

    .about-txt-intro {
        width: 100%;
    }

    .txt-team {
        width: 100%;
        padding: 0px;
    }

    .col-md-3 {
        width: 90%;
        margin: auto;
        margin-top: 10px;
    }

    .team-end {
        text-align: center;

    }

    .intro-ser {
        width: 100%;
        margin-top: 15px;
    }
}